@model Crud.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>
        <dd>
            @Model.FirstName
        </dd>
        <dt>
            Last Name
        </dt>
        <dd>
            @Model.LastName
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Model.Email
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Model.Age
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subscribed)
        </dt>
        <dd>
            <input asp-for="Subscribed" />

            @*
            <br /><br />
            <select asp-for="FirstName">
                <option value=""></option>
                <option value="John">John</option>
                <option value="Bob">Bob</option>
            </select>
                *@
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
